body{
    font-family: 'Roboto Mono', monospace;
    color: rgb(247, 247, 247);
    background-color: rgb(68, 77, 86);
}


#grandeTitulo{
    text-align: center;
}

#A{
    text-align: center;
}

#B{
    padding-right: 210px;
    float: right;
}

#N1{
    width: 350px;
    height: 50px;
}

#N2{
    width: 160px;
    height: 50px;
}

#botao{ 
    clear: both;
    text-align: center;

}

#quadrado{
    font-size: large;
    background-color: rgb(99, 86, 240);
    color: white;
    width: 120px;
    height: 50px;
}

#resultado{
    text-align: center;
}

#R{
    text-align: center;
    width: 350px;
    height: 30px;
}