body{
    font-family: 'Roboto Mono', monospace;
    color: rgb(247, 247, 247);
    background-color: rgb(68, 77, 86);
}


#grandeTitulo{
    text-align: center;
}

#A{
    text-align: center;
}

#B{
    text-align: center;
}

#N1{
    width: 800px;
    height: 50px;
}
#N2{
    width: 160px;
    height: 50px;
}

#N3{
    width: 160px;
    height: 50px;
}

#botao{ 
    clear: both;
    text-align: center;

}

#quadrado{
    font-size: large;
    background-color: rgb(99, 86, 240);
    color: white;
    width: 90px;
    height: 50px;
}

#resultado{
    text-align: center;
}

#R{
    text-align: center;
    align-items: center;
    width: 500px;
    height: 50px;
}