body{
    font-family:  DotGothic16,MingLiU_HKSCS-ExtB,Arial, Helvetica, sans-serif;
    color: white;
    background-color: rgb(0, 0, 0);
    font-size: 16px;
}

a{
    color: rgb(0, 195, 255);
}

h1{
    font-size: 50px;
}

h3{
    font-size: 25px;
}

header{
    text-align: center;
    height: 500px ;
    /**text-shadow: 3px 3px 3px grey;**/
}

#links{
    font-size: 17px;
    text-align: center;
    padding: 10px, 0px, 10px, 0px;
    margin: 0px, 10px, 0px, 0px;
}

#boas_vindas{
    margin: 0;
    padding: 10px 10px 5px 8px;
    height: 200px;
}

#abas a{
    font-size: 14,1px;
    text-align: center;
    margin: 0;
    padding: 0px 0px 0px 0px;
    text-decoration: none;
}

#abas a:hover{
    background-color: rgb(0, 195, 255);
    color: rgb(0, 66, 87);
    font-size: 18   px;
}

#testes_sintaxe{
    margin: 0;
    padding: 15px 20px 13px 14px ;
}

#listas{
    margin: 0;
    padding: 0;
}

#listas_ordenadas{
    margin: 0;
    padding: 30px;
    width: 45%;
    float: left;
}

#listas_desordenadas{
    margin: 0;
    padding:30px;
    width: 45%;
    float: right;
}

#link{
    clear: both;
    font-size: 20px;
    margin: 0;
    padding: 10px 10px 10px 10px;   
}

footer{
    margin: 0;
    padding: 0;
}

#nome{
    color: rgba(228, 194, 0, 0.849);
}

h3{
    color: rgb(255, 226, 64);
}

h4{
    color: rgb(255, 226, 64);
}

*{
    margin: 0;
    padding: 0;
}

#explicação_listas{
    font-size: 16px;
}

.container{
    margin:auto;
    width: auto;
}

#video{

    text-align: center;
    padding: 50px;
    margin: 10;
}
