


.buttons{
    background-color: white;

    box-shadow: 0 0 1.2em black;

    border-radius: 10%;
    border-style: groove;

    width: 12.5%;
    height: 160px;

    margin: 0.7%;
    padding: 0%;

    font-size: 16px;

    will-change: transform;
    transition: transform 450ms;
}

.buttons:hover{
    transition: transform 250ms;
    transform: translateY(-5%)
}

.desc{
    font-size: 14px;
}